* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.noteBox {
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border: 2px solid black;
    width: 50rem;
    height: 15rem;
    border-radius: 15px;
    background-color: #5b0c5f;
    padding: 0.5rem;
}

.note-title {
    align-self: flex-start;
    margin: 1rem;
    width: 40%;

    background: none;
    border: none;
    font-size: 2rem;
    padding: 0.5rem;
    outline: none;
}

.noteHeader {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.buttonPost {
    background: none;
    border: none;
    color: black;
    font-weight: bolder;
    padding: 0.2rem;
    font-size: 1.1rem;
    padding: 0.5rem;
    outline: none;
}

.note-body {
    width: 100%;
    padding: 0.5rem;
    background: none;
    border: none;
    font-size: 2rem;
    outline: none;
}


.colorBox {
    width: 8rem;
    letter-spacing: 5px;
    font-size: 1.2rem;
    font-weight: 700;
    display: flex;
    justify-content: space-between;
}