*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.noteTemplate{
    height: 25rem;
    word-wrap: break-word;
    padding: 1rem;

    
}


.note-header{
    display: flex;
    justify-content: space-between;
    
}

.pinIcon{
    margin-right: 1rem;
    margin-top: 0.5rem;
    background: none;
    outline: none;
    border: none;
    cursor: pointer;
}

.note-header h1{
    margin-left: 1rem;
}
